/* ~ ~ ~ ~ ~ ~ TYPO ~ ~ ~ ~ ~ ~ */
@font-face {
    font-family: 'Source Sans Pro', sans-serif;
}

/* ~ ~ ~ ~ ~ ~ BASIC ~ ~ ~ ~ ~ ~ */
::-moz-selection {
	background:#F9D3C1;
	color: black;
}

::selection {
	background:#F9D3C1;
	color: black;
}

img {
	margin:0;
}

ul {
	margin:0;
	padding:0;
}

li {
	list-style:none;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-top: 0px !important;
}

/* ~ ~ ~ ~ ~ ~ FADE IN ~ ~ ~ ~ ~ ~ */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* ~ ~ ~ ~ ~ ~ MAIN ~ ~ ~ ~ ~ ~ */
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

::selection {
    background:#F9D3C1; color: #000;
}

html,body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	margin-top: 0px !important;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6em;
    background-color: white;
	color: black;
	letter-spacing: 0.04em;
    -webkit-font-smoothing: antialiased;
}

a {
	color: black;
	text-decoration: none;
}

#menu a {
	-webkit-transition: 0.3s opacity cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: 0.3s opacity cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: 0.3s opacity cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: 0.3s opacity cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: 0.3s opacity cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

#menu a:hover{
	opacity: .15;
    color: red;

figure {
	margin: 0;
}

/* about page */


#about a{
body 
    background-color: #F0F0F0;
    color: #b0b0b0;
    min-width: 320px;

#project-link a{
    color:#f1585f;
    border-bottom: 1px solid #f1585f;
}
#headlineSection{
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    text-align: center;
}
.projectHeadLine{
    color:#535252;
    padding: 6px;
    padding-bottom:7px;
    border-color: #535252;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
    font-size:1.3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}
.projectHeadLinecreators{
    color:#686868;
    padding: 6px;
    padding-bottom:7px;
    border-color: #686868;
    border-width: 2px;
    border-style: solid;
    width: 240px;
    margin: auto;
    text-transform: uppercase;
    font-size:1.3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

.projectHeadLinefacebook{
    color:#686868;
    padding: 6px;
    padding-bottom:7px;
    border-color: #686868;
    border-width: 2px;
    border-style: solid;
    width: 240px;
    margin: auto;
    text-transform: uppercase;
    font-size:1.3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

.projectHeadLinevisualization{
    color:#686868;
    padding: 6px;
    padding-bottom:7px;
    border-color: #686868;
    border-width: 2px;
    border-style: solid;
    width: 175px;
    margin: auto;
    text-transform: uppercase;
    font-size:1.3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

.projectHeadLinecrank{
    color:#686868;
    padding: 6px;
    padding-bottom:7px;
    border-color: #686868;
    border-width: 2px;
    border-style: solid;
    width: 161px;
    margin: auto;
    text-transform: uppercase;
    font-size:1.3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

.tagLine{
    width: 90%;
    text-align: center;
    margin: auto;
}
a:hover{
    border:0;
}
.projectBox{
    float: left;
    width: 33.333%;
    position: relative;
    background-color: rgba(0,0,0,0.3);
}
.projectBox img{
    width: 100%;
    vertical-align: top; 
}
.projectBox .projectTitle p{
    font-weight: 700;
    letter-spacing: 0.1em;
    transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
}
.projectBox .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    opacity: 0.1;
    background-color: black;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.projectBox:hover .overlay{
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    opacity: 0;
}
.projectBox:hover .projectTitle{
    transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    -webkit-transition: background-color 0.1s ease-in-out;
    background-color: #F15A5F;
}
.projectBox:hover .projectTitle p{
    transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    color: white;
}

.projectTitle{
    margin: auto;
    position: absolute;
    height: 1rem;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    width: 200px;
    padding: 10px;
    background-color: white;
    color:#686868;
    transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    -webkit-transition: background-color 0.1s ease-in-out;
}
.projectTitle p{
    text-transform: uppercase;
}


#detailWrapper{
    background-color: white;
    width: 600px;
    margin: auto;
    text-align: center;
}
#projectDetailHeader img{
    width: 100%;
}
.projectDetail{
    margin: auto;
    text-align: left;
}
.projectDetail p{
    width: 80%;
    margin: auto;
    line-height: 1.5em;
    font-size:0.95rem;
    color:#969696;
}

.center{
    text-align: center;
}
.projectDetail a{
    color:#F15A5F;
}
.projectDetail img{
    width: 100%;
    line-height: 0px;
    float: left;
}


.projectDetailTitle{
    clear: both;
    padding-top: 3rem;
    padding-bottom: 1rem;
    color:#686868;
    font-size: 1.25rem;
    width: 80%;
    margin: auto;
    text-align: left;
    letter-spacing: 0.04rem;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    clear:both;

}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#projectDetailfooter{
    clear: both;
    font-size: 0.8rem;
    margin-top: 0rem;
    margin-bottom:4rem;
    background-color: #b0b0b0;
    width: 100%;
    height: 60px;
    padding-top: 2rem;
    font-size:0.9rem;
    letter-spacing:0.04rem;
}

#projectDetailfooter #buttonWrapper{
    text-align: center;
    margin: auto;
    margin: 0 auto;
    width: 100%;
}


#projectDetailfooter #buttonWrapper .left{
    float: left;
    color:white;
    text-align: center;
    margin-left: 2rem;
}
#projectDetailfooter #buttonWrapper .right{
    float: right;
    color:white;
    text-align: center;
    margin-right: 2rem;
}

#projectDetailfooter #buttonWrapper .right img{
    height: 12px;
    vertical-align: top;
    margin: 0;
    padding: 0;
    padding-left: 0.5rem;
    line-height: 0;
}


#projectDetailfooter img{
    height: 25px;
    padding: 10px;
}
#projectDetailfooter .box{
    padding: 10px;
    letter-spacing: 0.05em;
    text-align: center;
    background-color:#999999;
}
#projectDetailfooter .box:hover{
background-color:#666;
    color:white;
}
#footerContact{
    background-color: #686868;
    text-align: center;
    height: 150px;
    margin: auto;
    margin-top: 5rem;
}
#footerContact p{
    padding-top: 2rem;
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
.projectBox{
    width: 50%;
}

}

@media (max-width: 800px) {
#projectDetail{
    width: 100%;
}
#contact-footer{

}

#contact-footer{

}
.projectBox{
    width: 100%;
}
#detailWrapper{
    background-color: white;
    width: 90%;
    margin: auto;
    text-align: center;
}
#projectDetailfooter{
    padding-top: 0rem;
}
#projectDetailfooter #buttonWrapper{
    text-align: center;
    margin: 0 auto;
    display: inline-block;

}
#projectDetailfooter #buttonWrapper div{
    margin: 0 auto;
    
}
#projectDetailfooter #buttonWrapper .left{
margin-left: 0;
}
#projectDetailfooter #buttonWrapper .right{
margin-right: 0;
}
#projectDetailfooter #buttonWrapper #social-icon-wrapper{
    clear: both;
    margin: 0 auto;
}


#projectDetailfooter .box{
    clear: both;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border:0;
}
#projectDetailfooter .box:hover{
        border:0;
}


.text-section{
padding-top: 2rem;
height: 80px;
}

}
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
#projectWrapper .projectBox{
    width: 50%;
}
}


@media only screen 
and (min-width : 1824px) {

#projectWrapper .projectBox{
    width: 33.33%;
}


}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
.projectBox{
    width: 50%;
}

}

@media (max-width: 800px) {
#projectDetail{
    width: 100%;
}
#contact-footer{

}

#contact-footer{

}
.projectBox{
    width: 100%;
}
#detailWrapper{
    background-color: white;
    width: 90%;
    margin: auto;
    text-align: center;
}
#projectDetailfooter{
    padding-top: 0rem;
}
#projectDetailfooter #buttonWrapper{
    text-align: center;
    margin: 0 auto;
    display: inline-block;

}
#projectDetailfooter #buttonWrapper div{
    margin: 0 auto;
    
}
#projectDetailfooter #buttonWrapper .left{
margin-left: 0;
}
#projectDetailfooter #buttonWrapper .right{
margin-right: 0;
}
#projectDetailfooter #buttonWrapper #social-icon-wrapper{
    clear: both;
    margin: 0 auto;
}


#projectDetailfooter .box{
    clear: both;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border:0;
}
#projectDetailfooter .box:hover{
        border:0;
}


.text-section{
padding-top: 2rem;
height: 80px;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/dinpro-bold-webfont.eot');
    src: url('../fonts/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinpro-bold-webfont.woff') format('woff'),
         url('../fonts/dinpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/dinpro-bold-webfont.svg#dinprobold') format('svg');
    font-weight: 700;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/dinpro-light-webfont.eot');
    src: url('../fonts/dinpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinpro-light-webfont.woff') format('woff'),
         url('../fonts/dinpro-light-webfont.ttf') format('truetype'),
         url('../fonts/dinpro-light-webfont.svg#dinprolight') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/dinpro-medium-webfont.eot');
    src: url('../fonts/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinpro-medium-webfont.woff') format('woff'),
         url('../fonts/dinpro-medium-webfont.ttf') format('truetype'),
         url('../fonts/dinpro-medium-webfont.svg#dinpromedium') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/dinpro-regular-webfont.eot');
    src: url('../fonts/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinpro-regular-webfont.woff') format('woff'),
         url('../fonts/dinpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/dinpro-regular-webfont.svg#dinpro-regularregular') format('svg');
    font-weight: normal;
}

body {  
    font-family: 'DIN Pro';
}

}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
#projectWrapper .projectBox{
    width: 50%;
}
}


@media only screen 
and (min-width : 1824px) {

#projectWrapper .projectBox{
    width: 33.33%;
}


}

/* ~ ~ ~ ~ ~ ~ MENUS ~ ~ ~ ~ ~ ~ */
#infscr-loading {
    position: fixed;
    z-index: 100;
    bottom: 25px;
    left: 0;
    width: 100%;
}

#menu {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    padding: 25px 0 0 30px;
    width: 20%;
    height: 20%;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
#menu:hover .hide {
    display: block;
}
#menu li {
    margin-bottom: 0.1em;
}
.hide {
   display: none;
}
/* ~ ~ ~ ~ ~ ~ IMG ~ ~ ~ ~ ~ ~ */
#content {
	padding: 20px;
	text-align: center;
	position: relative;
	overflow: auto;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	   -moz-animation: fadein 2s; /* Firefox < 16 */
	    -ms-animation: fadein 2s; /* Internet Explorer */
	     -o-animation: fadein 2s; /* Opera < 12.1 */
	        animation: fadein 2s;
}

figure img {
	max-width: 100%;
	height: auto;
}

figure {
	max-width: 100% !important;
	padding: 18px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

/********* modules *********/
    
    .module_container h2 {
        margin-top:2px;
        margin-bottom:7px;
    }
    
    .line_0 {
        height:9px;
        font-size:1px;
        line-height:1px;    
        margin-top:15px;
        margin-bottom:14px;     

    }
    .line_1 {
        background-color:#000;      
        height:9px;
        font-size:1px;
        line-height:1px;
        margin-top:15px;
        margin-bottom:14px;     
    }   
    .line_11 {
        background-color:#000;      
        height:1px;
        font-size:1px;
        line-height:1px;
        margin-top:13px;
        margin-bottom:13px;     
    }       
    .line_0 {
        /*border-bottom:9px solid;*/
        height:0px;
        font-size:0px;
        line-height:0px;    
        margin-top:15px;
        /*margin-bottom:14px;*/     
        margin-bottom:20px;
    }
    .line_1 {
        border-bottom:9px solid;    
        border-color:inherit;       
        height:0px;
        font-size:0px;
        line-height:0px;
        margin-top:15px;
        margin-bottom:14px;     
    }   
    .line_11 {
        border-bottom:1px solid #000;               
        height:0px;
        font-size:0px;
        line-height:0px;
        margin-top:13px;
        margin-bottom:13px;     
    }   
    
    
    .editorsChoice2  {
        color:#000;     
        font-family:Courier New,Courier;
        padding-bottom:22px !Important;     
    }   
    .editorsChoice2  h1{
        /*font-weight:bold; */
        margin-top:9px;
    }       
    .editorsChoice2 .line_2 {
        background-color:#000;      
        height:2px;
        font-size:1px;
        line-height:1px;
        margin-top:6px;
        margin-bottom:19px; 
    }
    .editorsChoice2 em {
        color:#000;     
    }   
    .editorsChoice2 h1 em {
        letter-spacing:1.64px;      
    }   
    .editorsChoice2  div{
        width:180px;
        overflow:hidden;
    }       
    .line_0  object{
        display:none;   
        margin-bottom:12px;
    }
    .line_0  div{
        /*display:none; */
        margin-bottom:12px;
    }
    .line_0  div p{
        /*padding-top:6px;
        margin-bottom:6px;*/
        margin:0px;
        padding-top:6px;
        font-size:14px;
    }   
    .module_container {
        box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box; 
        -ms-box-sizing:content-box; 
        border-color:#000;  
        border-style:solid; 
        background-color: #FFFFFF;
        position:relative;
        float:left;
        margin:0px 0px 18px 18px;   
    }
    .border6 {
        border-color:#000;  
        border-style:solid;
    }
    
    .module_container:hover .line_0  {
        /*background-color:#000;*/
        /*background-color:#969696;*/
        background-color:#ffffff;
    }   
    .module_container:hover .line_1 {
        background-color:#969696;
        border-color:#969696;
    }   
    .module_container.ext:hover .line_1 {
        background-color:#01EC01;
        border-color:#01EC01;
    }

    .container_Text_2_23 {      
        padding:19px 25px 20px;
        border-width:2px;
        width: 640px;
        height: 640px;
    padding: 18px;
    position: relative;
    vertical-align: top;   
    }


/* ~ ~ ~ ~ ~ ~ mobile QUERIES ~ ~ ~ ~ ~ ~ */
@media screen and (max-width: 960px) {	
	#content {
		padding: 0px;
	}
	
	figure {
		padding: 0px 23px 17px 23px;
	}
	
	#content {
		padding-top: 70px;
	}
}

@media screen and (max-width: 768px) {
    body {
    }
}

@media screen and (max-width: 640px) {
    body {
    	font-size: 1.9em;
    }
    .moblo {
        display: block;
        position: fixed;
        z-index: 100;
        top: 18px;
        left: 0px;
        width: 100%;
        text-align: center;
    }
    .hide {
        display: none;
    }
    #menu:hover .hide {
    	display: none;
    }
}

@media screen and (max-width: 480px) {
        body {
        }
    
}