		html {
			width:100%;
			height:100%;			
		}
		body {
			margin: 0px;
			font-family: "Times New Roman", Times, "Courier New", Arial, helvetica, verdana;
			color: #000000;
			background-color:#ffffff;
			font-size:14px;
			line-height:18px;
			height:100%;		
		}

		td,p, button, input {	
			font-family: "Times New Roman", Times, "Courier New", arial, helvetica, verdana;
			/*color: #000000;*/
			font-size:14px;		
		}
		p {
			padding:0px;
			margin:0px;
			margin-bottom:18px;	
			color: inherit;			
		}
		strong, br {
			line-height:18px;
			
		}
		em {
			letter-spacing:1px;
			font-style:normal;
		}
		form {
			padding:0px;
			margin:0px;
		}
		textarea {
			font-family: "Times New Roman", Times, "Courier New", arial, helvetica, verdana;
			color: #000000;
			font-size:11px;
			width:220px;
			height:100px;
			resize:none;
		}
		input,select {
			width:171px;
			font-family: "Times New Roman", Times, "Courier New",arial, helvetica, verdana;
			font-size:12px;
		}		
		input, textarea {
			border:0px;
			-moz-box-sizing:border-box;	
			-webkit-box-sizing:border-box;				
			box-sizing:border-box;		
		}		
		input[type="radio"],input[type="checkbox"]{
			height:auto;
			width:auto;
		}
		
		a, a:link {
			color:#000000;
			outline:none;
		}		
		div.lc12 a:hover,div.lc13 a:hover,div.lc14 a:hover,a:hover,#navBoxTabDaily:hover,#navBoxTabPrint:hover,#navBoxTabWorkshop:hover, u:hover{
			/*color:#808080;*/
			text-decoration:line-through;
		}	
		
		ul {
			list-style-type:none;
			padding:0px;
			margin:0px;
		}

		img {
			border:0px;
			padding:0px;
			margin:0px;
			vertical-align:top;
			font-size:0px;
			line-height:0px;
		}
		
		h1 {
			font-size:23px;
			line-height:27px;
			padding:0px;
			margin:0px;
			font-weight:normal;
			text-decoration:none !important;
		}
		h2,h2  p {
			font-weight:normal;
			font-size:14px;
			line-height:18px;
			padding:0px;
			margin:0px;		
			margin-bottom:10px;	
			letter-spacing:1px;
		}			
		
		br.clearer,div.clearer {
			height:0px;
			line-height:1px;
			font-size:1px;
			overflow:hidden;
			clear:both;
		}		
		.clearElem {
			clear:both;
		}
		
		input[type="radio"] {
			width:auto;
		}

		#ie6{display:none}	
   /**************************************************/	

   
   #page_container {
		margin-left:18px;
		margin-top:18px;
		min-width:990px;
   }
    
   #page {
		position:relative;
		
   }
   
   #logo {
		margin-bottom:2px;
		
		background-repeat:no-repeat;
		background-position:416px 10px;
		padding-bottom:8px;
		
   }
   
  	#navContainerInner  a{
		color:#000;
		text-decoration:underline;
	} 
  	#navContainerInner{
		clear:both;
	} 	
	#navContainerInner ul.nav_normal {
		float:left;
	}
	#navContainerInner ul.nav_normal li{
		float:left;
		margin-right:5px;
	}	
	
	#claim {
		float:left;
		width:486px;
		margin-top:-5px;
		height:72px;
		overflow:hidden;
	}
	#headContainer {
		height:162px;
		width:1100px;
	}
	#head {
		float:left;
		clear:left;
		width:567px;
		margin-top:-1px;
	}

	/********** nav **********/
	
	#navBoxContainer {
		width:234px;
		position:relative;
		color:#fff;
		float:left;
		z-index:1;
	}
	#navBoxContainer a{
		color:#fff;
	}	
	
	#navBoxContainer input{
		margin-top:13px;
		height:27px;
		font-size:14px;
		padding-top:2px;
		padding-left:2px;
		margin-left:-3px;
	}
	
	input#pgNew2{
		margin-top:13px;
		height:27px;
		font-size:14px;
		padding-top:5px;
		padding-left:2px;
		margin-left:-2px;
		width:157px;
	}
	#navBoxContainer  input[type="radio"]{
		height:auto;
		width:auto;
		margin:0px;
		margin-left:3px;	
	}
	#navBoxContainer  select {
		margin-left:-3px;	
	}
	#navBoxContainer  select {
		padding-left:-1px;
		border: 0px;
		height:27px;
		font-size:14px;
		padding-top:1px;
	}	
	#navBoxDaily {
		padding:5px 9px 49px;
		background-color:#000;		
	}
	#navBoxPrint {
		padding:5px 8px 49px;
		background-color:#00f;	
		top:0px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-ms-box-sizing:border-box;
		/*display:none;*/
	}	
	#navBoxWorkshop {
		padding:5px 8px 49px;
		background-color:#f00;	
		/*display:none;*/
	}	
	#navBoxTabDaily {
		height:45px;
		background-color:#000;	
		/*display:none;*/
		cursor:pointer;
		text-decoration:underline;
		top:0px;
	}	
	
	#navBoxTabPrint {
		height:45px;
		background-color:#00f;	
		cursor:pointer;
		text-decoration:underline;
	}	
	#navBoxTabWorkshop {
		height:45px;
		background-color:#f00;
		cursor:pointer;	
text-decoration:underline;		
	}	
	#navBoxTabDaily div,#navBoxTabPrint div,#navBoxTabWorkshop div{
		padding: 5px 9px;		
	}
	
	.navBoxHead {
		height:108px;
		letter-spacing:1px;
	}

	.navBoxDownload{
		margin-top:15px;
		
	}
	
	.navBoxPageNav {
		margin-bottom:14px;
		position: relative;
	}
	
	.navBoxShare {
		margin-top:14px;
	}
	.navBoxFilter {
		margin-top:30px;
	}
	.navBoxSearch, .navBoxSort, .navBoxSortTheme {
		margin-top:18px;
	}		
	.navBoxSearch {
		margin-bottom:18px;
	}		
	div.advancedSearch {
		display:none;
		margin-bottom:18px;
	}
	
	div.searchOption {
		margin-top:14px;
		vertical-align:middle;
	}
	
	div.searchOption input{
	}	
	
	div.searchKeywords {
		margin-top:14px;
	}
	div.searchDate {
		margin-top:14px;
	}	
	div.searchTheme,div.navBoxTOC {
		margin-top:18px;
	}	

	#navBottomContainer {
		position:relative;
		height:140px;
		z-index:0;
	}
	#navBoxBottom {
		background-color:#000;
		color:#fff;
		position:absolute;
		/*right:20px;*/
		/*left:945px;*/
		right:18px;
		top:0px;
		
		/*padding:2px 10px 31px 10px;*/
		padding:0px 5px 27px 9px;
		width:157px;
		visibility:hidden;		
	}
	.pagePrint #navBoxBottom {
		background-color:#00f;
	}	
	.pageWork_Shop #navBoxBottom {
		background-color:#f00;
	}	
	
	#navBoxBottom a{
		color:#fff;		
	}
	#navBoxBottom strong{
		font-size:40px;
		font-weight:normal;
		line-height:normal;
		letter-spacing:1.64px;
	}
	
	/***** nav *****/
	
	/********* modules *********/
	
	.module_container h2 {
		margin-top:2px;
		margin-bottom:7px;
	}
	
	.line_0 {
		height:9px;
		font-size:1px;
		line-height:1px;	
		margin-top:15px;
		margin-bottom:14px;		

	}
	.line_1 {
		background-color:#000;		
		height:9px;
		font-size:1px;
		line-height:1px;
		margin-top:15px;
		margin-bottom:14px;		
	}	
	.line_11 {
		background-color:#000;		
		height:1px;
		font-size:1px;
		line-height:1px;
		margin-top:13px;
		margin-bottom:13px;		
	}		
	.line_0 {
		/*border-bottom:9px solid;*/
		height:0px;
		font-size:0px;
		line-height:0px;	
		margin-top:15px;
		/*margin-bottom:14px;*/		
		margin-bottom:20px;
	}
	.line_1 {
		border-bottom:9px solid;	
		border-color:inherit;		
		height:0px;
		font-size:0px;
		line-height:0px;
		margin-top:15px;
		margin-bottom:14px;		
	}	
	.line_11 {
		border-bottom:1px solid #000;				
		height:0px;
		font-size:0px;
		line-height:0px;
		margin-top:13px;
		margin-bottom:13px;		
	}	
	
	
	.editorsChoice2  {
		color:#000;		
		font-family:Courier New,Courier;
		padding-bottom:22px !Important;		
	}	
	.editorsChoice2  h1{
		/*font-weight:bold;	*/
		margin-top:9px;
	}		
	.editorsChoice2 .line_2 {
		background-color:#000;		
		height:2px;
		font-size:1px;
		line-height:1px;
		margin-top:6px;
		margin-bottom:19px;	
	}
	.editorsChoice2 em {
		color:#000;		
	}	
	.editorsChoice2 h1 em {
		letter-spacing:1.64px;		
	}	
	.editorsChoice2  div{
		width:180px;
		overflow:hidden;
	}		
	.line_0  object{
		display:none;	
		margin-bottom:12px;
	}
	.line_0  div{
		/*display:none;	*/
		margin-bottom:12px;
	}
	.line_0  div p{
		/*padding-top:6px;
		margin-bottom:6px;*/
		margin:0px;
		padding-top:6px;
		font-size:14px;
	}	
	.module_container {
		box-sizing:content-box;
		-moz-box-sizing:content-box;
		-webkit-box-sizing:content-box;	
		-ms-box-sizing:content-box;	
		border-color:#000;	
		border-style:solid;	
		background-color: #FFFFFF;
		position:relative;
		float:left;
		margin:0px 0px 18px 18px;	
	}
	.border6 {
		border-color:#000;	
		border-style:solid;
	}
	
	.module_container:hover .line_0  {
		/*background-color:#000;*/
		/*background-color:#969696;*/
		background-color:#ffffff;
	}	
	.module_container:hover .line_1 {
		background-color:#969696;
		border-color:#969696;
	}	
	.module_container.ext:hover .line_1 {
		background-color:#01EC01;
		border-color:#01EC01;
	}		
	.cpod:hover .line_0 {
		background-color:#fff;
		border-color:#fff;
	}	
	.module_container:hover, .module_container:hover p, .module_container:hover td h1, .module_container:hover td h2 {
		color:#808080 !important;
		border-color:#969696 !important;
		cursor:default;
	}	
	.module_container:hover {
		background-color:#ffffff !important;
	}		
	.module_container:hover p a,.module_container.pgM13.container_Bild_6_:hover p a,.module_container.pgM14.container_Bild_6_:hover p a,.module_container.pgM13.container_Bild_6_:hover p a,.module_container.pgM14.container_Bild__:hover p a,.module_container.pgM13.container_Bild__:hover p a {
		background-color:#ffffff;
		color:#808080;
	}

	.module_container.pgM13:hover, .module_container.pgM13:hover p,.module_container.pgM13:hover p a {
		color:#f00 !important;
	}	
	.module_container.pgM13:hover {
		background-color:#fff !important;
		border-color:#f00 !important;
	}		
	.module_container.pgM14:hover, .module_container.pgM14:hover p,.module_container.pgM14:hover p a {		
		border-color:#00f !important;
		color:#00f !important;
	}	
	
	.module_container.pgM14:hover .imageText, .module_container.pgM14:hover .imageText p {
		border-color:#00f;
		color:#00f;				
	}
	.module_container.pgM14:hover {		
		background-color:#fff !important;
	}		
	
	.module_container.pgM13:hover td h1, .module_container.pgM13:hover td h2 {
		color:#f00 !important;
	}	
	.module_container.pgM14:hover td h1, .module_container.pgM14:hover td h2 {
		color:#00f !important;
	}		
	
	.module_container.pgM13:hover .imageText, .module_container.pgM13:hover .imageText p  {
		/*background-color:#000;
		border-color:#fff;
		color:#fff;	*/
		background-color:#fff;
		border-color:#f00;
		color:#f00;		
		
	}		
	.module_container.pgM14:hover .line_0,.module_container.pgM13:hover .line_0  {
		background-color:#fff;
	}	
	.module_container.pgM14:hover .line_1,.cpod.pgM14:hover .line_0 {
		background-color:#00f;
	}	
	.module_container.pgM13:hover .line_1,.cpod.pgM13:hover .line_0 {
		background-color:#f00;
	}		
	div.container_Bild_6_.module_container:hover p {
		/*background-color:#fff;
		color:#000;*/
		
		cursor:default;
		/*cursor:pointer;*/
	}	
	div[url]:hover,div[url]:hover p,div[url].container_Bild_6_.module_container:hover p{
		cursor:pointer;
	}	

	.cpod:hover, .cpod:hover p, .cpod a:hover, .cpod:hover p a{
		background-color:#fff;
		color:#969696;
		/*cursor:default;*/
		cursor:pointer;
		border-color:#969696;
	}	

	.cvideo:hover, .cvideo:hover p,.cvideoYT:hover, .cvideoYT:hover p{
		cursor:pointer;
		border-color:#969696;
	}
	
	
	.spac .container_text,.spac .container_text_over{
		letter-spacing:1px;
	}
	.container_text_over {
		display:none;
		min-height:100%;
		
		/*position:absolute;*/
	}
	
	.extraAuthor,.extraTitle {
		font-weight:bold;
		margin-bottom:18px;
	}	
	.extraPosted,.extraInfo,.extraSubline   {
		margin-bottom:18px;
	}
	/*.extraPosted,.extraInfo,.extraExtra,.extraSubline   {*/
	.extraPosted,.extraInfo,.extraExtra  {
		margin-bottom:0px;
	}		
	.extraPosted  {
		margin-top:18px;
	}	
	.extraExtra p:last-child  {
		margin-bottom:0px;
	}	
	.extraSubline  {
		font-weight:bold;
	}	
	.extraLike {
		margin-top:18px;
		width:280px;
	}
	.cw_3 .extraLike{
		display:none;
	}
	.cw_4 .extraLike, .cw_4 .extraLike iframe {
		width:180px;
	}
	.cw_5 .extraLike,.cw_5 .extraLike iframe  {
		width:260px;
	}	
	.cw_i5 .extraLike,.cw_i5 .extraLike iframe  {
		width:240px;
	}	
	.cw_9 .extraLike,.cw_9 .extraLike iframe,.cw_10 .extraLike,.cw_10 .extraLike iframe,.cw_11 .extraLike,.cw_11 .extraLike iframe  {
		width:550px;
	}	
	.extraLike iframe{
		margin-top:4px;
	}	
	.container_text .extraOther p:last-child,.extraInfo p:last-child {
		margin-bottom:0px;
	}

	
	/*.ccat .container_text{
		letter-spacing:0px;
	}*/	
	.module_container h1 {
		letter-spacing:1.64px;
	}	
	
	.cw_i2 {
		width:108px;
	}
	.cw_i3 {
		width:171px;
	}	
	.cw_i4 {
		width:234px;
	}	
	.cw_i5 {
		width:297px;

	}	
	
	.cw_3 {
		width:117px;
		overflow:hidden;
	}	
	.cw_4 {
		width:180px;
		overflow:hidden;
	}
	.cw_5 {
		width:243px;
		overflow:hidden;
	}	
	.cw_6 {
		width:306px;
		overflow:hidden;
	}
	.cw_7 {
		width:369px;
		overflow:hidden;
	}
	.cw_8 {
		width:432px;
		overflow:hidden;
	}	

	 
	/*** X_23 ***/
	/* 2_23 */
	.container_Text_2_23 {		
		padding:19px 25px 20px;
		border-width:2px;	
	}
	.cvideo.container_Text_2_23  .videoPlayer embed{
		margin-top:6px;
		margin-bottom:5px;
	}
	
	.container_Text_2_23 .container_text_outer h1 .extraTitle {
		margin-bottom:15px;
	}	
	.container_Text_2_23 .container_text_over h2.extraCategory{
		padding-bottom:1px;
		margin-top:2px;
	}		
	.container_Text_2_23  .container_text_over .extraInfo{
		margin-top:1px;
	}
	/* 2_23 */	
	
	/* 6_23 */
	.container_Text_6_23 {
		/*padding:13px 21px 17px;*/
		padding:15px 21px 17px;
		border-width:6px;		
	}

	/* 6_23 */
	

	.container_Text_6_23 .container_text_over h2.extraCategory{
		/*padding-bottom:1px;
		margin-top:0px;*/
		margin-top:4px;
	}	
	.container_Text_6_23 .container_text_over .extraPosted strong {
		line-height:20px;
	}
	.container_Text_6_23 .container_text_outer h2{
		margin-top:4px;
	}		
	/*** X_23 ***/
	
	/*** X_33 ***/
	/* 2_33 */
	.container_Text_2_33 {
		padding:17px 25px 20px;
		border-width:2px;		
	}
	.container_Text_2_33 h1,.container_Text_6_33 h1{
		font-size:33px;
		line-height:36px;
		letter-spacing:2.36px;
		margin-top:1px;
		margin-bottom:16px;
	}	
	/* 2_33 */
	
	/* 6_33 */
	.container_Text_6_33 {
		padding:13px 21px 16px;
		border-width:6px;		
	}

	/* 6_33 */	
	/*** X_33 ***/
	
	
	/*** X_40 ***/
	/* 2_40 */
	.container_Text_2_40 {
		padding:16px 25px 20px;
		border-width:2px;		
	}
	.container_Text_2_40 div h2:first-child{
		margin-top:5px;
		margin-bottom:4px;
	}	
	.container_Text_2_40 h1,.container_Text_6_40 h1{
		font-size:40px;
		line-height:45px;
		letter-spacing:2.85px;

	}
	.container_Text_2_40 .line_1,.container_Text_6_40 .line_1 {
		margin-top:18px;
		margin-bottom:14px;
	}
	.container_Text_2_40 .line_0,.container_Text_6_40 .line_0 {
		margin-top:15px;
		margin-bottom:17px;
	}	
	/* 2_40 */	
	
	/* 6_40 */
	.container_Text_6_40 {
		padding:10px 21px 15px;
		border-width:6px;		
	}
	.container_Text_6_40 div h2:first-child{
		margin-top:5px;
		margin-bottom:4px;
	}	
	
	.container_Text_6_40 .container_text_over h2.extraCategory{
		margin-top:11px;
		margin-bottom:3px;
	}		
	
	/*.container_Text_6_40 .container_text_over .extraPosted strong {
		line-height:18px;
	}*/
	
	/* 6_40 */
	/*** X_40 ***/
	
	.container_Bild_6_ .container_text_over h2.extraCategory{
		margin-top:4px;
		margin-bottom:9px;
	}		
	
	.imageText {
		display:none;
		position:absolute;
		top:0px;
		left:0px;
		z-index:10;
		width:100%;
		height:auto;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;		
		-ms-box-sizing:border-box;	
		/*border:6px solid #000;
		background-color:#000;*/
		border:6px solid #969696;
		background-color:#ffffff;		
	}
	.imageTextBorder {
		border-width:0px;
		position:absolute;
		top:0px;
		left:0px;
		z-index:10;
		width:100%;
		min-height:100%;
	}

	.container_Bild_6_,.container_Bild__ {
		padding:0px;
		border-width:0px;		
	}	

	.container_Bild__ .imageText{	
		/*padding:18px 27px 21px;*/
		/*padding:18px 27px 16px;*/
		/*border:6px solid #000;
		background-color:#000;*/
		border:6px solid #969696;
		background-color:#fff;		
	}	
	.container_Bild__ .imageText .container_text{	
		padding:18px 27px 16px;
	}	
	.container_Bild_6_ .imageText{
		/*background-color:#fff;		
		color:#000;*/
		/*background-color:#000;*/
		background-color:#fff;
		/*padding:13px 21px 17px;*/
		/*padding:13px 21px 11px;*/
		/*padding:13px 21px 2px;*/
		/*padding:13px 21px 16px;*/
	}	
	.container_Bild_6_ .imageText .container_text{
		padding:13px 21px 16px;
	}		
	.imageTextBorder.border6 {
		height:100%;
		/*min-height:auto;*/
		min-height:auto;
		border-width:6px;
		display:block;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-ms-box-sizing:content-box;
	}

	.imageTextBorder.border6 .imageText {
		background-color:#fff;
	}
	
	.imageText a,.imageText a:hover,.container_text_over a,.container_text_over a:hover{
		color:#969696;
	}
	
	.pgM13 .imageText a,.pgM13 .imageText a:hover,.pgM13 .container_text_over a,.pgM13 .container_text_over a:hover{
		color:#f00 !Important;
	}
	.pgM14 .imageText a,.pgM14 .imageText a:hover,.pgM14 .container_text_over a,.pgM14 .container_text_over a:hover{
		color:#00f;
	}	
	.container_text p:last-child {
		margin-bottom:0px;
	}
	
	
	/***** modules *****/
	
	.content_full {
		float:left;
		margin-left:18px;
		overflow:show;
		/*width:549px;*/
		width:612px;
		position: relative;
	}
	
	.fullTheme {
		/*text-decoration:underline;*/
		letter-spacing:1px;
		font-size:14px;
		margin-top:5px;
	}
	h1.fullTitle {
		margin-top:3px;
		font-size:40px;
		line-height:normal;
		/*letter-spacing:2.85px*/
		letter-spacing:2px
	}
	
	.fullSubtitle {
		/*width:549px;*/
		width:612px;
		border-top:9px solid #000;
		margin-top:16px;
		padding-top:14px;
		letter-spacing:1px;
		font-size:14px;		
	}
	.fullSubtitle p:last-child{
		margin-bottom:0px;		
	}	
	.fullSubline {
		/*width:549px;*/
		width:612px;
		border-top:9px solid #000;
		margin-top:13px;
		padding-top:14px;
		font-size:14px;		
	}	
	
	.fullAbout {
		width:360px;
		float:left;
		margin-right:18px;
	}
	.fullDates {
		width:171px;
		float:left;
	}	
	.fullLike {
		margin-top:31px;
		border-top:2px solid #000;
		padding:24px 0px 15px;
		border-bottom:9px solid #000;
		position:relative;
	}	
	.noimages .fullLike {
		border-bottom:0px solid #000;
	}		
	.noimages  .fullDescription{
		margin-top:0px;
	}	
	.noimages .fullImages {
		margin-top:0px;
	}	
	.noimages .fullDescription #sales {
		margin-top:-14px;
	}	
	.fullLike:hover .fullLikeOver, .fullLike.enter .fullLikeOver{
		display:none;
	}	
	.fullLikeOver {
		background-color:#000000;
		color:#FFFFFF;
		height:72px;
		left:0;
		position:absolute;
		text-align:center;
		top:0;
		width:612px;
		letter-spacing:2px;
	}
	.fullLikeOver div{
		margin-top:30px;
	}	

	.fullImages {
		width:549px;
		/*margin-top:26px;*/
		margin-top:31px;
		position:relative;
		
	}		
	.fullDescription {
		/*width:549px;*/
		width:612px;
		position:relative;
		border-top:9px solid #000;
		margin-top:40px;
		margin-bottom:49px;
		padding-top:14px;
		font-size:14px;	
		clear:both;
	}	
	.fullDescription.noBorder, .noBorder {
		border-top:0px;
	}		

	.fullOther {
		/*width:549px;*/
		width:612px;
		position:relative;
		border-top:9px solid #000;
		margin-top:45px;
		padding-top:12px;
		font-size:14px;	
		clear:both;
	}	
	.fullDescription.noBorderDist,.fullOther.noBorderDist{
		border-top:0px;
		margin-top:0px;
	}			
	#pageOverview .fullOther {
		width:549px;
	}
	.listCategoryHead {
		clear:both;
		height:40px;
		margin-top:5px;
	}

	.listCategory {
		width:423px;
		float:left;
		clear:left;
	}	
	.listDate {
		width:108px;
		float:left;
		margin-left:18px;
	}
	
	.listCategoryHead .listCategory, .listCategoryHead .listDate{
		height:31px;
		border-bottom:9px solid #000;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	}
	
	.listList {
		margin-bottom:72px;
	}
	.listList ul {
		margin-top:14px;
	}
	
	.listList a {
		/*text-decoration: none;*/
	}
	.listList a[target='_blank'] {
		color:#353535;
	}	
	dl {
		margin-top:4px;
		margin-bottom:5px;
	}
	.dropdown {padding-right:5px;margin-left:-3px;}
	.dropdown dt {width:165px; border-bottom:1px solid #ddd; padding:5px 3px 3px; font-weight:normal; cursor:pointer;background-color:#fff;color:#000;}
	.dropdown dt:hover {background-color:#fff; }
	.dropdown dd {margin-left:0px;position:absolute; overflow:hidden; width:171px; display:none; background:#fff; z-index:200; /*opacity:0*/}
	.dropdown ul {width:171px; border:0px; list-style:none; border-top:none;margin-bottom:14px;}
	.dropdown li {display:inline;}
	#navBoxContainer .dropdown a 	, .dropdown a, .dropdown a:active, .dropdown a:visited {display:block; padding:0px 3px; color:#333; text-decoration:none; background:#fff; width:171px}
	#navBoxContainer .dropdown a:hover,.dropdown a:hover {background:#BBB; color:#000}
	.dropdown .underline {border-bottom:1px solid #b9d6dc}
	
	
	#zoom {
		position:absolute;
		height:10%;
		width:10%;
		visibility:hidden;
	}
	
	/*div.module_container.ext div.imageText:hover,div.module_container.ext div.imageText:hover p,	div.module_container.ext div.imageText:hover a,
	div.module_container.ext div.container_text_over:hover,div.module_container.ext:hover div.container_text_over p,
	div.module_container.ext:hover div.container_text_over a,div.module_container.ext:hover, div.module_container.ext:hover p,div.module_container.ext:hover div.line_0{
		background-color:#353535;
		border-color:#353535;
	}*/
	div.module_container.ext div.imageText:hover,div.module_container.ext div.imageText:hover p,	div.module_container.ext div.imageText:hover a,
	div.module_container.ext div.container_text_over:hover,div.module_container.ext:hover div.container_text_over p,
	div.module_container.ext:hover div.container_text_over a,div.module_container.ext:hover, div.module_container.ext:hover p,div.module_container.ext:hover div.line_0{
		background-color:#ffffff;
		border-color:#01ec01 !important;
		color:#01ec01 !important;
	}
	
	div.module_container.ext:hover p,div.module_container.ext:hover a{
		/*border-color:#353535;
		color:#353535;*/
		color:#01EC01;
	}
	
	/*div.module_container[url]:hover {
		border-color:#f00;
		color:#f00;
	}
	div.module_container[url]:hover p,div.module_container[url]:hover a{
		color:#f00;
	}	*/	
	
	ul.overview_entries{
		width:612px;
		
	}	
	ul.overview_entries .content_entry{
		margin-bottom:9px;
		
	}
	
	ul.overview_entries h1{
		font-size:40px;		
		line-height:45px;
		margin-bottom:9px;
	}	
	ul.overview_entries .entryDesc {
		/*margin-top:13px;*/
	}
	ul.overview_entries .entryDesc p:last-child{
		margin-bottom:13px;
	}
	
	ul.overview_entries .border9{
		border-bottom: 9px solid #000;
		margin-bottom:14px;
	}	
	ul.overview_entries .border1,ul.overview_entries .border11{
		border-bottom: 1px solid #000;
		margin-bottom:13px;
	}

	ul.overview_entries .noBorder{
		border-bottom: 1px solid #fff;
		margin-bottom:13px;
	}	
	ul.overview_entries .marginWide,ul.overview_entries .marginWide1 {
		padding-bottom:63px;
	}

	ul.overview_entries  .content_entry_left,#sales  .content_entry_left {
		float:left;
		width:297px;
	}
	
	form#paypalform  .content_entry_left {
		float:left;
		width:216px;
	}
	
	ul.overview_entries  .content_entry_right,form#paypalform  .content_entry_right,#sales  .content_entry_right {
		float:left;
		width:297px;
		margin-left:18px;
	}	
	
	form#paypalform  .content_entry_right {
		float:left;
		width:279px;
		margin-left:18px;
	}	
	
	form#paypalform #buy_now {
		margin-left:63px;
	}

	form#paypalform  label.lcb	{
		margin-left:55px;
	}
	
	#navBoxOverviewInfo .navBoxSortTheme{
		margin-top:0px;
	}
	
	label.lcb {
		/*vertical-align:middle;*/
		margin-left:37px;
	}
	
	img.FHM_Checkbox,img.FHM_Radio  {
		vertical-align:middle;
		cursor:pointer;
	}
	input.iTextNL {
		border-bottom:1px solid #000;
		margin-left:45px;
		height:18px;
		
	}
	input.iTextWNL {
		border-bottom:1px solid #000;
		width:297px;
		height:18px;		
	}
	
	img#gender_1 {
		margin-left:108px; 
	}
	#nav_footer {
		/*min-width:1116px;*/
		min-width:990px;
		margin-bottom:54px;
		margin-top:3px;
	}
	div.border9 {
		height:9px;
		background-color:#000;
	}
	div.border1 {
		height:1px;
		background-color:#000;
		line-height:1px;
		font-size:0px;
	}	
	div.border1.marginWide {
		margin-top:76px;
	}	
	div.colFooter {
		width:171px;
		margin-left:18px;
		float:left;
		margin-top:13px;
	}	
	div.colFooter.colFooterFirst {
		margin-left:0px;
	}		
	#nav_footer h2 {
		margin-bottom:19px;
	}
	div.colFooter strong {
		letter-spacing:0px;
	}
	
	.editorsChoice {
		margin-top:18px;
		background-color: #FFFFFF;
		color:#000000;
	}
	.editorsChoice h1{
		color:#000;
	}
	#navBoxContainer .editorsChoice a{
		color:inherit;
	}	
	.editorsChoice h1{
		letter-spacing:1.64px;
	}		
	.editorsChoice p:last-child{
		margin-bottom:0px
	}	
	#sales {
		border-top:9px solid #000000;
		clear:both;
		font-size:14px;
		margin-top:36px;
		padding-top:14px;
		position:relative;
		/*width:549px;*/
		width:612px;			
	}
	.fullDescription #sales {
		margin-top:-5px;
		
	}	
	#sales_container {
		border:6px solid #ff0000;
		padding: 7px 12px 10px 12px;	
		margin-top:4px;
		margin-bottom:63px;
	}
	.fullDescription #sales_container {
		margin-bottom:68px;
	}	
	#sales_container p {
		color:#ff0000;
	}
	#sales_container .content_entry_right p:first-child {
		margin-bottom:16px;
	}	
	#sales h1{
		margin-top:7px;
		margin-bottom:10px;
	}	
	div.lc14 a {
		color:#00f;
	}	
	div.lc13 a {
		color:#f00;
	}
	
	#paypalButton {
		width:86px;
		margin-top:17px;
	}
	

	#paypalform {
		/*border-top:1px solid #000;*/
		/*margin-top:13px;
		padding-top:18px;*/
		padding-bottom:7px;
	}
	
	.videoPlayer embed {
		margin:2px 0px;
	}
	
	form .error {
		background-color:#fdd;
	}
	
	form .register_confirm {
		height:54px;
		padding-top:18px;
	}
	form .login_confirm {
		height:54px;
	}

	#userState {
		position:absolute;
		right:0px;
		top:5px;
	}	
	
	.linkVideo {
		display:none;
		position:absolute;
		bottom:-110px;
		left:-2px;
		width:405px;
		height:72px;
		overflow:auto;
		border:2px solid #000;
		padding:7px;
		color:#000;
		background-color:#ffffff;
		/*cursor:text;*/
	}	
	.embedVideo {
		display:none;
		position:absolute;
		bottom:-164px;
		left:-2px;
		width:342px;
		height:126px;
		overflow:auto;
		border:2px solid #000;
		padding:7px;
		color:#000;
		background-color:#ffffff;
		/*cursor:text;*/
	}	
	
	.fullOther h1 {
		margin-bottom:11px;
	}	

	.container_Bild__.lupe_plus:hover {
		cursor:url('lupe_plus.ico'), pointer;	
		cursor:-moz-zoom-in;

	}

	.container_Bild__.lupe_minus:hover {
		cursor: url(lupe_minus.ico), pointer;
		cursor: -moz-zoom-out; 
	}	
	
	#pageOverview, #fullImages {
		visibility:hidden;
	}
	#pageOverview.listView {
		visibility:visible;
	}	
	
	#verify_black {
		visibility:hidden;
		margin-bottom:5px;
		margin-top:16px;		
	}
	@font-face {  
	  font-family: Trivial;  
	  src: url( /trivial/TRIVIAL0.eot ); 
	  src: url( /trivial/Trivial-Regular.ttf ) format("truetype");  
	}
	.trivial {
		text-align:center;
		background-color:#ffffff;
	}  	
	.trivial h1 {
		font-family: Trivial ,"Times New Roman",Times,"Courier New",serif;  
		font-size:43px;
		word-wrap:break-word;
	}
	.trivial.module_container:hover, .trivial.module_container:hover p, .trivial.module_container:hover h2, #publicshout.module_container:hover, #publicshout.module_container:hover p, #publicshout.module_container:hover h1 {
		
		color:#000;
		border-color:#000;
		cursor:default;
	}	
	
	.trivial.module_container:hover  .container_text p,.trivial.module_container:hover  .container_text a  {
		color:#000;
	}	
	.trivial.module_container  .container_text a:hover {
		color:#00f;
	}	
	
	#navBoxContainer  input.iTextPS {
		border-bottom:1px solid #000;
		width:180px;
		height:18px;	
		background-color:transparent;
		padding:0px;
		margin-left:0px;
		
	}		
	#publicshout p {
		margin: 5px 0px 20px;
    word-wrap:break-word;
	}
	#publicshout p:last-child {
		margin: 5px 0px 0px;
	}	
	#publicshout.module_container:hover .line_1 {
		background-color:#000;
	}
	#publicshout.bgcolor_1{
		background-color:#f88;
	}
	#publicshout.bgcolor_2 {
		background-color:#8f8;
	}	
	#publicshout.bgcolor_3 {
		background-color:#88f;
	}	
	#publicshout.bgcolor_4 {
		background-color:#ff8;
	}	
	#publicshout.bgcolor_5 {
		background-color:#f8f;
	}	
	#publicshout.module_container:hover p, #publicshout.module_container:hover a, #publicshout.module_container:hover input {
		background-color:transparent;
	}
	
	#publicshout.module_container:hover a, #navBoxContainer  #publicshout a , #navBoxContainer  #publicshout{
		color:#000;	
	}	
	#publicshout_list {
		/*height:216px;
		overflow:hidden;*/
	}
	
	#shareLinkContainer {
		position:absolute;
		top:0px;
		/*left:243px;*/
		left:0px;
		width:612px;
		background-color:#000;
		color:#fff;
		padding:4px 10px 18px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;		
	}
	#shareLinkContainer a{
		color:#fff;
	}	
	
	.cvideoYT iframe {
		display:none;
		margin: 6px 0px 5px;
	}
	.cvideoYT div > object {
		display:none;
		margin: 6px 0px 5px;
	}

	img#loader {
		position:absolute;
		top:0px;
		left:252px;
	}